# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
eggs/
*.egg-info/
.env/
.venv/
venv/
env/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS junk files
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
.tox/

# Documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# Logs and temporary files
*.log
tmp/